<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Constructor Injection + Setter Injection -->
    <bean id="bookRepository" class="org.example.repository.BookRepository" />

    <bean id="bookService" class="org.example.service.BookService">
        <constructor-arg ref="bookRepository" />
        <property name="bookRepository" ref="bookRepository" />
    </bean>

    <bean id="loggingAspect" class="org.example.aspect.LoggingAspect" />

    <aop:aspectj-autoproxy />
</beans>
